.checkoutproduct {
	border: 2px solid black;
	display: flex;
	align-items: center;
	padding: 20px;
}
.checkoutproduct_img {
	max-width: 100px;
}
.checkoutproduct_info {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.checkoutproduct_rating {
	display: flex;
}
